<div class="row">
  <div class="col-xs-12">

    <p class="city-search-title text-center">Discover whether a city is currently a buyers' or sellers' market.</p>
    <p class="text-center">Wait until the ideal market temperature. Where would you like to buy/sell?</p>

  </div>
</div>

<div class="row align-center ">
  <div class="col-xs-6 ">

    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Dallas, TX" aria-describedby="basic-addon2">
      <span class="input-group-btn">
      <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>

  </div>
</div>




