
<div class="row margin-top-220">
  <div class="col-xs-12">

    <p class="city-search-title text-center">Discover whether a city is currently a buyers' or sellers' market.</p>
    <p class="city-search-sub-title text-center">Wait until the ideal market temperature. Where would you like to buy/sell?</p>

  </div>
</div>


<div class="row align-center margin-top-50">
  <div class="col-xs-10 col-sm-8 col-md-6">

    <div class="input-group input-group-lg ">
      <input #city  (keyup)="0" type="text" class="form-control" placeholder="Dallas, TX" aria-describedby="basic-addon2">
      <span class="input-group-btn relative-position ">
      <button (click)="checkForCity(city.value, $event)" class="btn btn-secondary" type="button"><img class="search-img" src="../assets/searchButtonImage.png" alt=""></button>
      </span>
    </div>



  </div>
</div>




