.city-search-title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0px;
}
.city-search-sub-title{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-img {
  width: 60px;
  height: 45px;
  position: absolute;
  top: -1px;
  left: 0px;
}

.relative-position {
  position: relative;
}

.margin-top-50 {
  margin-top: 50px;
}
.margin-top-220 {
  margin-top: 220px;
}


/*CSS media queries  Michael Call*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////// start medium size media query////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 577px) and (max-width: 768px) {
  .city-search-title {
    font-size: 20px;
  }

  .city-search-sub-title{
    font-size: 15px;
  }

}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 577px) and (max-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 577px) and (max-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 577px) and (max-width: 768px),
only screen and (              orientation : landscape)  and (min-width: 577px) and (max-width: 768px) {

  /* Medium screen, retina, stuff to override above media query */
  .city-search-title {
    font-size: 20px;
  }
  .city-search-sub-title{
    font-size: 15px;
  }

}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////// start small size media query////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

  .city-search-title {
    font-size: 15px;
  }
  .city-search-sub-title{
    font-size: 12px;
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 576px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (                min-resolution: 192dpi) and (max-width: 576px),
only screen and (                min-resolution: 2dppx)  and (max-width: 576px),
only screen and (               orientation : landscape) and (max-width: 576px) {

  /* Small screen, retina, stuff to override above media query */
  .city-search-title {
    font-size: 15px;
  }
  .city-search-sub-title{
    font-size: 12px;
  }
}
