.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-img {
  width: 60px;
  height: 45px;
  position: absolute;
  top: -1px;
  left: 0px;
}

.relative-position {
  position: relative;
}

.scale-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #D0D0D0;
}

.city-title {

  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: -webkit-right;
}

.flex-sub-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.city-score {
  font-size: 80px;
  color: red;
  height: 90px;
}

.market-status {
  font-size: 20px;
  font-weight: bold;
}

.margin-top-20 {
  margin-top: 20px;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /*position: relative;*/
}

.div {
  /*position: absolute;*/
  position: relative;
}

.num {
  position: absolute;
  left: 8%;
  font-size: 25px;
  margin-left: 25px;
}
.out {
  text-align: center;
}

.big {
  text-align: center;
  font-size: 50px;
}
.sm {
  text-align: center;
  font-size: 15px;
}

.margin-top-25px {
  margin-top: 25px;
}

/*CSS media queries  Michael Call*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////// start medium size media query////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 577px) and (max-width: 768px) {

  .city-title {
    font-size: 18px;
  }

}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 577px) and (max-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 577px) and (max-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 577px) and (max-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 577px) and (max-width: 768px),
only screen and (              orientation : landscape)  and (min-width: 577px) and (max-width: 768px) {

  /* Medium screen, retina, stuff to override above media query */
  .city-title {
    font-size: 18px;
  }

}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////// start small size media query////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

  .city-title {
    font-size: 10px;
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 576px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 576px),
only screen and (                min-resolution: 192dpi) and (max-width: 576px),
only screen and (                min-resolution: 2dppx)  and (max-width: 576px),
only screen and (               orientation : landscape) and (max-width: 576px) {

  /* Small screen, retina, stuff to override above media query */
  .city-title {
    font-size: 10px;
  }
}
