<!--nav bar-->
<nav class="navbar ">
  <div class="container-fluid">
    <a (click)="search = true" class="navbar-brand" href="#">
      <img src="../assets/realcitylogo.png" class="d-inline-block align-top logo" alt="">
    </a>
  </div>
</nav>



<div class="container">


    <app-city-search *ngIf="search" (intervalFired)="onCurrentCity($event)" ></app-city-search>

    <app-city-details  *ngIf="!search" [currentCity]="currentCity" > </app-city-details>


</div>



<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--<app-game-control (intervalFired)="onfired($event)"></app-game-control>-->




<!--<div class="container">-->
  <!--<div class="row">-->

    <!--<div class="col-xs-4">-->
      <!--<app-odd *ngFor="let odd of oddArray" [odd]="odd"></app-odd>-->
    <!--</div>-->

    <!--<div class="col-xs-4">-->
      <!--<app-even *ngFor="let even of evenArray" [even]="even"></app-even>-->
    <!--</div>-->

    <!--<div class="col-xs-2">-->
      <!--<app-winner [number]="currenNumber" ></app-winner>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->


