/* You can add global styles to this file, and also import other style files */

.background-image {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Arial,sans-serif;
  background-image: url(./assets/dallas-skyline-grey.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #ccc; */
}
